body {
    color: #444;
}

.header {
    background-color: #CCC;
}

.buttonlink {
	float: left;
	padding: 10px;
	margin: 10px 10px 10px 0px;
	background-color: #444;
	color: #EEE;
	text-decoration: none;
}

.buttonlink:hover {
	background-color: #AAA;
	color: #EEE;
}

.right {
    float: right;
    margin: 10px 0px 10px 10px;
}

.main-actions h1 {
    display: inline;
}

.secondary-actions h2 {
    display: inline;
}

.action-link {
    margin: 10px 0px 10px 0px;
}

.item-list {
	list-style-type: none;
	float: left;
	width: 100%;
}

.item-list li {
	float: left;
	width: 100%;
	padding: 10px;
	margin: 5px 0px 5px 0px;
	background-color: #CCC;
}

.half-list {
    width: 445px;
}
.half-list li {
    max-width: 445px;
    margin: 10px 10px 0px 0px;
}

.bar-wrap {
	width: 100%;
	border: 1px solid #444;
	height: auto;
	background-color: #FFF;
}

.bar {
	height: 20px;
	background-color: #90B72E;
}

p.center {
	text-align: center;
	color: #EEE;
}