.menu {
	z-index: 2;
	height: 50px;
	background-color: #FFF;
}

.content-area {
	margin-top: 80px;
}

.storylist {
	list-style-type: none;
}

.sidebar {
	display: block;
	margin-top: 80px;
}

.storylist li {
	padding: 10px;
	margin: 5px;
	background-color: #CCC;
}

.being-dragged {
	height: 20px;
	width: 20px;
	background-color: #729F27;
	text-indent: -9999px;
}

.release {
	list-style-type: none;
}

.release li{
	padding: 20px;
	margin: 5px;
	background-color: #CCC;
}

.menu-actions {
	list-style-type: none;
}

.menu-actions li{
	display: inline;
	float: right;
}

.menu-actions li a {
	padding: 10px;
	background-color: #CCC;
	margin-left: 5px;
}

.menu-actions li a:hover {
	padding: 10px;
	background-color: #AAA;
	margin-left: 5px;
}